{% extends 'base.html' %}

{% block content %}
    <h2>Contact</h2>
    <p>Feel free to contact me using the information below:</p>
   
    <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/nirmal-aravind-5405a81bb/">LinkedIn Profile</a></p>
    <p><strong>GitHub:</strong> <a href="https://github.com/aravindhnirmal">GitHub Account</a></p>
    <p><strong>📞</strong><a href="tel:+917904489871">+91 7904489871</a></p>
    <p><strong>📧</strong><a href="mailto:tnirmalaravind@gmail.com">tnirmalaravind@gmail.com</a></p>
    <p><strong>📍</strong> Mayiladuthurai, Tamil Nadu</p>
{% endblock %}
