{% extends 'base.html' %}

{% block content %}

  <bold>  <h2>About Me</h2></bold>
    <p>I am a 🐍 Python developer and engineer with a passion for innovation. I am interested in Machine Learning, 💹💱share market, investing, IoT, and ♨️Java development. I am also enthusiastic about software testing.
         I have experience in Flask, HTML, CSS, Bootstrap, JavaScript, and database technologies,Selenium</p>
    <p>I have completed my schooling and college studies, and I am actively involved in various projects. 
        You can find more details about my work⚒️, skills🤹, and experience on my LinkedIn profile and GitHub account.</p>
    <p><strong>🎓 Schooling:</strong> Silver Jubilee Higher Secondary School (2015-2020) - Both SSLC and HSC with 90% and 91% respectively</p>
    <p><strong>🎓 College:</strong> Sastra Deemed to Be University</p>


{% endblock %}
