{% extends 'base.html' %}

{% block content %}
    <h2>Projects</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Heart Disease Predication Using Machine Learning and Flask</h5>
                    <p class="card-text">This is a web application that predicts whether a person has heart disease or not using machine learning and flask.</p>
                    <a href="https://github.com/aravindhnirmal/heartdisease_predication_using-3-ml-al">View Project</a>

                </div>
                <div class="card-body">
                    <h5 class="personal blogging">NirmalBlogs </h5>
                    <p class="card-text">This is a personal blogging website where i can create, update, delete and read blogs.</p>
                    <a href="">View Project</a>
                </div>
                <div class="card-body">
                    <h5 class="To Do List">To Do List</h5>
                    <p class="card-text">This is a To Do List web application where i can create, update, delete and read tasks.</p>
                    <a href="">View Project</a>
                </div>
                <div class="card-body">
                    <h5 class="stocks fundamental anlaysis tools"> stocks fundamental anlaysis tools</h5>
                    <p class="card-text">This is a web application use to analysis the fundamental of stocks.</p>
                    <a href="">View Project</a>
                </div>
                   
                </div>
        </div>
    </div>
{% endblock %}
